@font-face {
    font-family: "webfont";
    src: url("../fonts/Kaleko205Round-Bold.otf") format('opentype'),
         url("../fonts/Kaleko205Round-Bold.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-BoldOblique.otf") format('opentype'),
         url("../fonts/Kaleko205Round-BoldOblique.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-Book.otf") format('opentype'),
         url("../fonts/Kaleko205Round-Book.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-BookOblique.otf") format('opentype'),
         url("../fonts/Kaleko205Round-BookOblique.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-Heavy.otf") format('opentype'),
         url("../fonts/Kaleko205Round-Heavy.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-HeavyOblique.otf") format('opentype'),
         url("../fonts/Kaleko205Round-HeavyOblique.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-Light.otf") format('opentype'),
         url("../fonts/Kaleko205Round-Light.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-LightOblique.otf") format('opentype'),
         url("../fonts/Kaleko205Round-LightOblique.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-Thin.otf") format('opentype'),
         url("../fonts/Kaleko205Round-Thin.ttf") format('truetype'),
         url("../fonts/Kaleko205Round-ThinOblique.otf") format('opentype'),
         url("../fonts/Kaleko205Round-ThinOblique.ttf") format('truetype');
}
body {
    font-family: "webfont";
}

* {
    box-sizing: border-box;
}
.row,
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin: 0;
    padding: 0;
}
/* Start Header */
header {
    background-color: #3A3A3C !important;
}
.bg-light {
    background-color: #3A3A3C !important;
}
.navbar {
    padding-top: 30px;
    align-items: center;

}
.menu {
    width: 100%;
}
header .menu button {
    margin-left: 455px;
    color: #fff !important;
    border-color: #686363 !important;
    background-color: #fff;
}
header .menu button .navbar-toggler-icon {
    color: #fff !important;
}
@media (max-width:770px) {
    header .menu button {
        margin-left: 300px;
    }
}
@media (max-width:555px) {
    header .menu button {
        margin-left: 255px;
        margin-top: -40px;
    }
}
.navbar-nav {
    float: right;
    margin-right: -10px;
}
.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 20px;
    color: #a9a9a9 !important;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: #FFD100 !important;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -ms-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition:  all 1.2s ease;
}
.navbar .nav-link:before {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 3px;
    background-color: #FFD100;
    bottom: -5px;
    width: 72%;
    right: 14%;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition:  opacity 0.7s ease;
}
.navbar-nav .nav-link:hover::before {
    opacity: 1;
}
@media (max-width:992px) {
    .navbar .nav-link:hover:before {
        opacity: 0;
    }
}
.navbar .lang span {
    color: #626263;
    border: 1px solid #626263;
    padding: 7px 34px;
    border-radius: 3px;
}
.navbar .lang span:hover {
    cursor: pointer;
}
@media (max-width:992px) {
    .navbar .lang span {
        display: none;
    }
}
header .info {
    text-align: center;
    margin-top: 15%;
    padding-bottom: 10%;
}
header .info h1 {
    font-size: 72px;
    color: #3A3A3C;
    -webkit-text-stroke: 2px #d1cfcf;
}
header .info p {
    font-size: 24px;
    margin-top: 88px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    color: #FFFFFF;
    position: relative;
}
header .info p::after {
    content: '';
    position: absolute;
    height: 5px;
    border-radius: 3px;
    background-color: #FFD100;
    bottom: -4px;
    width: 111px;
    right: 45%;
}
@media (max-width:767px) {
    header .info p::after {
        right: 42%;
    }
}
@media (max-width:576px) {
    header .info p::after {
        right: 38%;
    }
}
header .info a {
    text-decoration: none;
    color: #fff;
    padding: 21px 87px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    transition: all 1s ease;
}
header .info a:hover {
    border: 1px solid #FFD100;
}
/* End Header */
/* Start About */
.about .first-one {
    display: flex;
}
.about .first-one img,
.about .second-one img {
    width: 100%;
}
.about .first-one .up,
.about .second-one .up {
    width: 27%;
    margin-top: 65px;
    margin-left: 52px;
}
.about .first-one .up h2,
.about .second-one .up h2 {
    margin-bottom: 25px;
}
.about .first-one .up p,
.about .second-one .up p {
    font-size: 17px;
    line-height: 2;
}
.about .second-one {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
}
@media (max-width:992px) {
    .about .first-one .up,
    .about .second-one .up {
        margin-top: 15px;
        margin-left: 35px;
    }
    .about .first-one .up h2,
    .about .second-one .up h2 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    .about .first-one .up p,
    .about .second-one .up p {
        font-size: 16px;
        line-height: 1.8;
        word-spacing: 0;
    }
}
@media (max-width:768px) {
    .about .second-one {
        flex-direction: column-reverse;
    }
    .about .first-one .up {
        width: 100%;
        text-align: center;
    }
    .about .second-one .up {
        width: 90%;
        text-align: center;
    }
    .about .first-one .up h2,
    .about .second-one .up h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .about .first-one .up p,
    .about .second-one .up p {
        font-size: 16px;
        line-height: 1.8;
        word-spacing: 0;
    }
}
@media (max-width:576px) {

    .about .first-one img,
    .about .second-one img {
        width: 100%;
    }
    .about .first-one .up {
        width: 100%;
    }
    .about .second-one .up {
        width: 90%;
    }
    .about .first-one .up h2,
    .about .second-one .up h2 {
        text-align: center;
    }
}
.about .first-one .up .small,
.about .second-one .up .small {
    font-size: 29px;
    color: #b9b9b9;
}
.about .first-one .up .medium,
.about .second-one .up .medium {
    font-size: 32px;
    color: #6c6c6c;
    margin-left: -8px;
}
.about .first-one .up .icn,
.about .second-one .up .icn {
    display: flex;
    align-items: center;
}
.about .first-one .up .icn .large,
.about .second-one .up .icn .large {
    margin-left: -8px;
    font-size: 36px;
}
.about .first-one .up .non-icn,
.about .second-one .up .non-icn {
    display:none;
}
@media (max-width:768px) {
    .about .first-one .up .non-icn,
    .about .second-one .up .non-icn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        }
        .about .first-one .up .icn,
        .about .second-one .up .icn {
            display: none;
        }
}
.about .first-one .up .non-icn .small,
.about .second-one .up .non-icn .small {
    font-size: 29px;
    color: #b9b9b9;
    margin-right: 7px;
    margin-top: -20px;
}
.about .first-one .up .non-icn .medium,
.about .second-one .up .non-icn .medium {
    font-size: 32px;
    color: #6c6c6c;
}
.about .first-one .up .non-icn .large,
.about .second-one .up .non-icn .large {
    font-size: 36px;
    margin-bottom: -25px;
    margin-left: -9px;
}
section .see {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #F6F6F6;
    color: #484848;
    padding: 45px;
}
section .see i {
    margin-left: 10px;
}
/* End About */
/* Start Works */
.works .upp {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.works .upp img {
    width: 100%;
}
.works .upp .right {
    max-width: 50%;
}
.works .upp .right h2 {
    font-size: 100px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}
@media (max-width:576px) {
    .works .upp .right h2 {
        margin-right: 20px;
    }
}
.works .upp h3 {
    margin-top: 45px;
    margin-bottom: 30px;
}
.works .upp .right div,
.works .upp .left div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 90px;
}
@media (max-width:768px) {
    .works .upp {
        display: block;
    }
    .works .upp .right {
        max-width: 100%;
        text-align: center;
    }

}
.works .upp div p {
    color: #dadada;
}
.works .upp div span {
    color: #feefca;
}
.works .upp .left {
    max-width: 49%;
}
@media (max-width:768px) {
    .works .upp .left {
        max-width: 100%;
        text-align: center;
    }

}
.works .upp .left .more {
    color: #585757;
    font-size: 16px;
    float: right;
    margin-top: 190px;
    display: flex;
    align-items: center;
}
@media (max-width:768px) {
    .works .upp .left .more {
        margin-top: -82px;
    }

}
.works .upp .left .more span {
    color: #585757;
    font-size: 22px;
    margin-right: 20px;
}
.works .upp .left .more i {
    font-size: 25px;
}
/* End Works */
/* Start About Us */
.about-us {
    background-color: #171717;
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-us-up {
    display: flex;
    justify-content: space-between;
}
.about-us-up .first {
    width: 45%;
    border: 3px solid #484848;
}
@media (max-width:992px) {
    .about-us-up {
        display: block;
    }
    .about-us-up .first {
        width: 100%;
        height: 100%;
    }
}
.about-us-up .first div {
    width: 90%;
    height: 92%;
}
.about-us-up .first img {
    width: 100%;
    height: 100%;
    margin:29px 25px;
}
.about-us-up .second {
    width: 48%;
}
@media (max-width:992px) {
    .about-us-up .second {
        width: 100%;
        height: 100%;
    }
    .about-us-up .second h2 {
        margin-top: 40px;
    }
}
.about-us-up .second h2 {
    color: #FED677;
    position: relative;
    margin-bottom: 84px;
}
.about-us-up .second h2:after {
    content: "";
    height: 2px;
    width: 55px;
    background-color: #FED677;
    border-radius: 3px;
    left: 2px;
    bottom: -7px;
    position: absolute;
}
@media (max-width:992px) {
    .about-us-up .second h2 {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}
.about-us-up .second p {
    color: #bfbfbf;
    font-size: 22px;
    line-height: 2;
}
.about-us-up .second div {
    margin-top: 70px;
    color: #353535;
    font-size: 20px;
}
.about-us-up .second div i {
    margin-left: 10px;
}
/* End About Us */
/* Start Clients */
.clients {
    margin-top: 70px;
}
.clients h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    margin-bottom: 70px;
}
.clients h2:after {
    content: "";
    height: 3px;
    width: 55px;
    background-color: #000;
    border-radius: 3px;
    left: 2px;
    bottom: -7px;
    position: absolute;
}
.clients .our-clients .first,
.clients .our-clients .second,
.clients .our-clients .last {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.clients .our-clients .first img,
.clients .our-clients .second img,
.clients .our-clients .last img {
    width: 9%;
}
/* End Clients */
/* Start Footer */
footer {
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}
footer .arrow h2 {
    font-size: 45px;
    position: relative;
}
footer .arrow h2::after {
    content: "";
    height: 1px;
    width: 86px;
    background-color: #fff;
    border-radius: 3px;
    right: 47%;
    bottom: -25px;
    position: absolute;
}
@media (max-width:576px) {
    footer .arrow h2::after {
        right: 38%;
    }
}
footer .arrow i {
    margin-top: 50px;
    margin-right: 40px;
    font-size: 50px;
    transform: rotate(35deg);
    padding-bottom: 40px;
}
footer .footer .images {
    background-image: url('../images/a25ee478-db6e-4f3b-a55e-c8d76bfa37b3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 335px;
}
footer .footer .images .icons i {
    margin-top: 80px;
    margin-left: 15px;
    border: 2px solid #fff;
    height: 40px;
    width: 40px;
    line-height: 2.2;
    border-radius: 50%;
}
footer .footer .images .lst {
    margin-top: 65px;
    color: #3e3e3e;
    font-size: 14px;
}
footer .footer .images .lst div {
    margin-bottom: 35px;
}
/* End Footer */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
  }
  
  #myBtn:hover {
    background-color: #555;
    border: none;
  }